<div class="page">
    <div class="odam-heading">
        <div class="title"> ODAM </div>
        <div class="sub-title"> Object Detection, Association, and Mapping using Posed RGB Video </div>
        <div class="note"> ~ <span class="material-icons"> military_tech </span>ICCV 2021 Oral ~ </div>
    </div>
    <div class="odam-section" @slide>
        <h1 id="title"> Authors </h1>
        <mat-divider id="hor-divider"></mat-divider>
        <div class="odam-author">
            <ng-container *ngFor="let author of authors">
                <div class="author">
                    <div (click)="goToLink(author.link)" [class.with-link]="author.link"> <b>{{author.name}}</b> </div>
                    <mat-divider></mat-divider>
                    <div>{{author.institution}}</div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="odam-section" @slide>
        <h1 id="title"> Updates </h1>
        <mat-divider id="hor-divider"></mat-divider>
        <div class="odam-updates">
            <div><strong>July 2021: </strong> ODAM is accepted in ICCV 2021 as Oral (Acceptance Rate: ~3%).</div>
        </div>
    </div>
    <div class="odam-section" @slide>
        <h1 id="title"> Links </h1>
        <mat-divider id="hor-divider"></mat-divider>
        <div class="odam-links">
            <div class="link" (click)="goToLink('https://github.com/likojack/ODAM')">
                <button mat-icon-button>
                    <fa-icon [icon]="faGithub"></fa-icon>
                </button>
                <div>Code</div>
            </div>
            <div class="link" (click)="goToLink('https://arxiv.org/pdf/2108.10165.pdf')">
                <button mat-icon-button>
                    <fa-icon [icon]="faScroll"></fa-icon>
                </button>
                <div>Paper</div>
            </div>
        </div>
    </div>
    <div class="odam-section" @slide>
        <h1 id="title"> Abstract </h1>
        <mat-divider id="hor-divider"></mat-divider>
        <div class="odam-abstract">
            Localizing objects and estimating their extent in 3D is an important step towards high-level 3D scene understanding,
            which has many applications in Augmented Reality and Robotics. We present ODAM, a system for 3D Object Detection,
            Association,
            and Mapping using posed RGB videos. The proposed system relies on a deep learning front-end to detect 3D objects
            from a given RGB frame and associate them to a global object-based map using a graph neural network (GNN).
            Based on these frame-to-model associations, our back-end optimizes object bounding volumes, represented as
            super-quadrics,
            under multi-view geometry constraints and the object scale prior. We validate the proposed system on ScanNet where we
            show a significant
            improvement over existing RGB-only methods.
        </div>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/sNXpsmYeBGM" title="ODAM: Object Detection, Association, and Mapping using Posed RGB Video"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="odam-section" @slide>
        <h1 id="title"> Results </h1>
        <mat-divider id="hor-divider"></mat-divider>
        <div class="odam-results">
            <div>
                <img src="/kejieli/assets/images/ODAM1.gif" />
                <img src="/kejieli/assets/images/ODAM2.gif" />
            </div>
            <div>
                <img src="/kejieli/assets/images/ODAM3.gif" />
                <img src="/kejieli/assets/images/ODAM4.gif" />
            </div>
        </div>
        <div class="caption">
            In each figure, the left column shows original meshes for visualization purpose only, and the right column shows the 3D detections represented by super-quadrics.
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
