@import "variables.scss";

#news-page {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    min-width: 300px;
    text-align: center;
    #title {
        font-size: xxx-large;
    }
    #hor-divider {
        margin: 30px auto;
        border-top-color: $highlight-blue;
        border-top-width: 3px;
        border-top-style: solid;
        max-width: 400px;
    }

}
/* Timeline */
#news-timeline-card {
    width: 50vw;
    min-width: 300px;
    margin: 0px auto;
    .timeline {
        list-style: none;
        padding: 20px;
        position: relative;
        margin: 0 auto;
        width: 80%;
        &:before {
            top: 40px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 3px;
            background-color: #eeeeee;
        }
        .timeline-item {
            margin-bottom: 20px;
            position: relative;
            height: 150px;
            &:before,
            &:after {
            content: "";
                display: table;
            }
            &:after {
                clear: both;
            }
            .timeline-badge {
                color: white;
                width: 54px;
                height: 54px;
                line-height: 52px;
                font-size: 22px;
                text-align: center;
                margin-left: -29px;
                position: relative;
                top: 80px;
                background-color: $bg-colour;
                border: 3px solid white;
                z-index: 100;
                border-top-right-radius: 50%;
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            .timeline-panel {
                position: relative;
                text-align: left;
                width: 80%;
                background: white;
                border-radius: 20px;
                padding: 20px;
                border: solid 3px $highlight-blue;
                margin-left: 50px;

                .timeline-title {
                    font-size: large;
                    font-weight: bold;
                    margin-top: 0;
                    color: inherit;
                }
                .timeline-subtitle {
                    font-style: italic;
                    font-size: medium;
                    color: $highlight-grey;
                }
                .timeline-time {
                    float: right;
                }
                .timeline-body > p,
                .timeline-body > ul {
                    margin-bottom: 0;
                    list-style-type:disc
                }
                .timeline-body > p + p {
                    margin-top: 5px;
                }
            }    
        }
        
    }
}