<div class="page">
    <div class="profile-pic"></div>
    <div id="pro-act-page" @slide>
        <h1 id="title"> Professional Activities </h1>
        <mat-divider id="hor-divider"></mat-divider>
    </div>
    
    <div id="pro-act-timeline-card" @slide>
        <mat-list>
            <div mat-subheader><h1><mat-icon mat-list-icon class="material-icons-outlined">plagiarism</mat-icon> &nbsp; Journal Reviewer</h1></div>
            <mat-list-item>
                <mat-icon mat-list-icon>double_arrow</mat-icon>
                <div mat-line>RSS</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>double_arrow</mat-icon>
                <div mat-line>RA-L</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <br>
            <div mat-subheader><h1><mat-icon mat-list-icon class="material-icons-outlined">plagiarism</mat-icon> &nbsp; Conference Reviewer</h1></div>
            <mat-list-item>
                <mat-icon mat-list-icon>double_arrow</mat-icon>
                <div mat-line>CVPR</div>
                <div mat-line>2019, 2020, 2021</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>double_arrow</mat-icon>
                <div mat-line>ECCV</div>
                <div mat-line>2020</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>double_arrow</mat-icon>
                <div mat-line>ICCV</div>
                <div mat-line>2019, 2021</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>double_arrow</mat-icon>
                <div mat-line>ICRA</div>
                <div mat-line>2019</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>double_arrow</mat-icon>
                <div mat-line>IROS</div>
                <div mat-line>2020</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>