/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import "variables.scss";

html, body { height: 100%; }
body { margin: 0; font-family: $font-family !important; overflow-x: hidden;}

.spacer {
  flex: 1 1 auto;
}

.ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.page {
    position: absolute;
    background-color: $bg-colour;
    height: 250px;
    width: 100vw;
    min-width: 300px;

    .profile-pic {
        background-image: url("./assets/images/profile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 50%;
        border: 10px solid $font-colour;
        display: block;
        top: 80px;
        position: relative;
    }
}