/* You can add global styles to this file, and also import other style files */
@import './assets/css/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.page {
    position: absolute;
    background-color: $bg-colour;
    height: 250px;
    width: 100vw;
    min-width: 300px;

    .profile-pic {
        background-image: url("./assets/images/profile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 50%;
        border: 10px solid $font-colour;
        display: block;
        top: 80px;
        position: relative;
    }
}