<div class="bg-img"></div>
<div id="intro" @slide>
    <h4> Hello, my name is</h4>
    <h1 id="name">Kejie Li</h1>
    <h4> I am a PhD student working with <b (click)="goToLink('https://cs.adelaide.edu.au/~ianr/')" class="with-link">Ian Reid</b> at the University of Adelaide. I am also affiliated with <b (click)="goToLink('https://www.roboticvision.org')" class="with-link">Australian Centre for
    Robotic Vision (ACRV)</b> for my PhD research. My research focuses on geometry reconstruction (e.g., depth and object shape) from RGB image(s) using
    deep learning. I am particularly interested in "semantic aware" SLAM system.</h4>
    <button mat-button [disableRipple]="true" id="cv" (click)="goToLink('/assets/doc/Kejie_Li_resume.pdf')">Download CV</button>
</div>