<div class="bg-img"></div>
<div id="intro" @slide>
    <h4> Hello, my name is blah</h4>
    <h1 id="name">Kejie Li</h1>
    <h4> I am a postdoctoral researcher at the University of Oxford working with Professor <b (click)="goToLink('https://www.robots.ox.ac.uk/~phst/')" class="with-link">Philip Torr</b> 
    and Professor <b (click)="goToLink('https://www.robots.ox.ac.uk/~victor/')" class="with-link">Victor Prisacariu</b>. 
    Prior to this, I received my PhD at the University of Adelaide under the supervision of Professor <b (click)="goToLink('https://cs.adelaide.edu.au/~ianr/')" class="with-link">Ian Reid</b>.
    I was affiliated with <b (click)="goToLink('https://www.roboticvision.org')" class="with-link">Australian Centre for
    Robotic Vision (ACRV)</b> and interned at <b (click)="goToLink('https://tech.fb.com/ar-vr/')" class="with-link">Facebook Reality Labs (FRL)</b> during my PhD study,
    where I worked on object localization and reconstruction from images. 
    My research focuses on 3D reconstruction from RGB image(s) using both geometry and deep learning for applications in Augmented/Virtual Reality.</h4>
    <button mat-button [disableRipple]="true" id="cv" (click)="goToLink('/kejieli/assets/doc/Kejie_Li_resume.pdf')">Download CV</button>
</div>
