<div class="page">
    <div class="profile-pic"></div>
    <div id="publications-page" @slide>
        <h1 id="title" > Publications </h1>
        <mat-divider id="hor-divider"></mat-divider>
    </div>
    <div @slide>
        <div style="text-align: center;">
            <mat-button-toggle-group #group="matButtonToggleGroup" value="list" appearance="legacy">
                <mat-button-toggle value="list" matTooltip="List View">
                    <mat-icon>view_list</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="grid" matTooltip="Grid View">
                    <mat-icon>view_module</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div id="publication-list-container" *ngIf="group.value === 'list' else grid">
            <div class="list-container">
                <app-publication-list-cards *ngFor="let paper of papers" [cardConfig]="paper" id='{{paper.paperId}}'></app-publication-list-cards>
            </div>
            <div class="table-of-content-container">
                <div class="table-of-content docs-toc-container">
                    <div class="docs-toc-heading">Publications List</div>
                    <br>
                    <nav>
                        <ng-container *ngFor="let paper of papers">
                            <a [routerLink]="['/publications']" [fragment]="paper.paperId" id="{{paper.paperId}}-link" class="docs-link">{{paper.title}}</a><br><br>
                        </ng-container>
                    </nav>
                </div>
            </div>
        </div>
        <ng-template #grid>
            <div id="publications-cards-container">
                <app-publication-cards *ngFor="let paper of papers" [cardConfig]="paper"></app-publication-cards>
            </div>
        </ng-template>
    </div>
</div>