<div class="page">
    <div class="profile-pic"></div>
    <div id="publications-page"  @slide>
        <h1 id="title" > Publications </h1>
        <mat-divider id="hor-divider"></mat-divider>
    </div>
    <div id="publications-cards-container" @slide>
        <app-publication-cards [cardConfig]="paper1"></app-publication-cards>
        <app-publication-cards [cardConfig]="paper2"></app-publication-cards>
        <app-publication-cards [cardConfig]="paper3"></app-publication-cards>
        <app-publication-cards [cardConfig]="paper4"></app-publication-cards>
        <app-publication-cards [cardConfig]="paper5"></app-publication-cards>
    </div>
</div>