@import '../../assets/css/variables.scss';

#publications-page {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    min-width: 300px;
    text-align: center;
    #title {
        font-size: xxx-large;
    }
    #hor-divider {
        margin: 30px auto;
        border-top-color: $highlight-blue;
        border-top-width: 3px;
        border-top-style: solid;
        max-width: 400px;
    }

}

#publications-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: flex-start;
    app-publication-cards {
        width: 25%;
        min-width: 300px;
        margin: 50px 0px;
        border: 2px solid $highlight-grey;
        border-radius: 10px;
        box-shadow: 10px 10px 5px 0px rgba(168,168,168,1);
    }
}